 <div class="main-header">
      <div class="header-container">
        <div class="logo">
          <h1>TuDu</h1>
        </div>
        <%= render "layouts/createcontainer" if params[:controller] == 'lists' %>
      </div>
      <%= link_to "Log Out", session_path(current_user), :method => :delete %>
      </div>
    </div>